@font-face {
    font-family: 'daftFont';
    src: url('/fonts/daft_font') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #303030;
    padding: 20px;
    text-align: center;
    position: fixed;
}

.logo {
    width: 100px;
    height: auto;
    margin: 0 100px;
}

header h1 {
    font-family: 'daftFont';
    font-size: 3em;
    margin: 0;
}

main {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    width: 50%;
    max-width: 800px;
}

.button {
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    cursor: pointer;
}

.button:nth-child(1) {background: linear-gradient(135deg, #ff5733, #ffbd33); }
.button:nth-child(2) {background: linear-gradient(135deg, #0fcbb2, #16a8d1); }
.button:nth-child(3) {background: linear-gradient(135deg, #22ca68, #0b9e23); }
.button:nth-child(4) {background: linear-gradient(135deg, #aae33f, #ecd905); }
.button:nth-child(5) {background: linear-gradient(135deg, #ca2ecd, #19b0d2); }
.button:nth-child(6) {background: linear-gradient(135deg, #da2020, #c80fcb); }
.button:nth-child(7) {background: linear-gradient(135deg, #f0e91a, #2fc30d); }
.button:nth-child(8) {background: linear-gradient(135deg, #259dde, #0f42ba); }
.button:nth-child(9) {background: linear-gradient(135deg, #ff5733, #ffbd33); }
.button:nth-child(10) {background: linear-gradient(135deg, #0fcbb2, #16a8d1); }
.button:nth-child(11) {background: linear-gradient(135deg, #22ca68, #0b9e23); }
.button:nth-child(12) {background: linear-gradient(135deg, #aae33f, #ecd905); }
.button:nth-child(13) {background: linear-gradient(135deg, #ca2ecd, #19b0d2); }
.button:nth-child(14) {background: linear-gradient(135deg, #da2020, #c80fcb); }
.button:nth-child(15) {background: linear-gradient(135deg, #f0e91a, #2fc30d); }
.button:nth-child(16) {background: linear-gradient(135deg, #259dde, #0f42ba); }

.button:hover {
    filter: brightness(0.8);
}